@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf");
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("Roboto-Thin.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Thin.woff2") format("woff2"), url("Roboto-Thin.woff") format("woff"),
    url("Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
  src: local("Roboto Light"), local("Roboto-Light"),
    url("Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Light.woff2") format("woff2"), url("Roboto-Light.woff") format("woff"),
    url("Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"),
    url("Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Medium.woff2") format("woff2"), url("Roboto-Medium.woff") format("woff"),
    url("Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff"),
    url("Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf");
  src: local("Roboto Black"), local("Roboto-Black"),
    url("Roboto-Black.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Black.woff2") format("woff2"), url("Roboto-Black.woff") format("woff"),
    url("Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
